*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom,  #d6c7dd, #A073D1);
}
input#abrir-cerrar { visibility:hidden; position: absolute; top: -9999px; }

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar { 
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size:100%;
    margin:0;
    padding:0;
}

header {
    background:#6c4774;
    color:#eee;
    width:100%;
}

input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}

label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1.5rem;
    background-color:#6c4774;
    color:#d6c7dd;
    display:inline-block;
    width: 100%;
    position:sticky;
    top: 0; 
}
.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #a284a5;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: black;
    text-decoration: none;  
}

#contenido {
    transition: margin-left .4s;
    padding: 0.5rem;
}

.abrir-cerrar {
    color:aquamarine;
    font-size:1rem;   
}

.center{
    text-align: center;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.tipografia{
    font-family: 'Poppins', sans-serif;
    font-size:2rem;
    color: #442d47;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #442d47;
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
}
pre{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #442d47;
    margin: auto;
    margin-left: 3rem;
    margin-right: 3rem;
}

.tipografia-titulos{
    font-family: 'Poppins', sans-serif;
    font-size:1.2rem;
    color: #442d47;
}

.margen1{
    background-color: #9e70a2;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem;
}

iframe{
    width: 280px;
    height: 180px;    
}
img{
    width: 280px;
    height: 180px;
}
.imagen{
   width: 300px;
   height: 220px;
   border-radius: 50px;
   margin: 1rem;
}

.letra{
    font-size: 3rem;
    color: #442d47;
}
.fotos{
    width: 300px;
    height: 200px;
    margin: 2rem;
}
.letras{
    font-size: 2rem;
    color: #442d47;
    margin: 2rem;
}
.boton{
    border: 1px solid #442d47; 
    padding: 1rem; 
    background-color: #442d47; 
    color: #d6c7dd; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 50px; 
    margin: 2rem;
}
.boton:hover {
    background-color: #925f99;
}

footer{
    margin-top: 50px;

    background-color:#551966;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;

  }
.letra2{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color:#d6c7dd;
}
.margen2{
    background-color: #9e70a2;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem;
}